.netrwhist
*.log

plug.vim.old

config/i3/layouts

config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/session
config/rofi/themes
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
zsh/.oh-my-zsh/
tags.*
tags
