snippet pfunc "public function" b
/**
 * ${1:describe what your function does}
 *
 * @return ${2:void}
 */
public function ${3:doSomething}($4)
{
    $5
}
endsnippet

snippet print_r "print inside pre tags" b
echo '<pre>';
print_r($1);
echo '</pre>';
${2:die;}
endsnippet

